.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.env
node_modules/**
.git/**
.DS_Store
*.vsix
.eslintrc*
.github/**
CONTRIBUTING.md
COPILOT_INSTRUCTIONS.md
FEATURES.md
SECURITY.md
