.vscode/**
.vscode-test/**
src/**/*.ts
src/**/*.js.map
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/.vscode-test.*
.env
.git/**
.DS_Store
*.vsix
.eslintrc*
.github/**
CONTRIBUTING.md
COPILOT_INSTRUCTIONS.md
FEATURES.md
SECURITY.md